# website baseurl
BASEURL=https://localhost:3000/

# can change github page cname
CNAME=

# please enter LIFF ID (size: FULL, LIFF URL Converting method: Concatenate, Scopes: 'chat_message.write, profile')
LIFFID_FULL=

# Deprecated
LIFFID_SHARE_CSV=

# Deprecated
LIFFID_SHARE=

# For development livereload, do not set this in GitHub Secret
NODE_ENV=development
