extends /layout-default

block beforehtml
  - const title = '分享 LINE 數位版名片'

//- disable gtag
block compoment-gtag

block script
  script(src="https://static.line-scdn.net/liff/edge/2/sdk.js")
  script.
    (async () => {
      await liff.init({ liffId: '#{liffidFull}' })
      if (window.getSearchParam('liff.state')) return
      const liffLoginRedirect = sessionStorage.getItem('liffLoginRedirect')
      if (_.isString(liffLoginRedirect)) {
        sessionStorage.removeItem('liffLoginRedirect')
        location.href = liffLoginRedirect
      }
    })()
