doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover, user-scalable=no")
    title 分享 LINE 數位版名片
  body
    script(crossorigin="anonymous", src="https://static.line-scdn.net/liff/edge/2/sdk.js")
    script.
      ;(async () => {
        await liff.init({ liffId: '#{liffidFull}' })
        const redirect = new URL(location).searchParams.get('redirect')
        if (typeof redirect === 'string') location.href = new URL(redirect, location).href
      })()

