extends /src/liff-full/share

block vue-config
  script.
    const cfg = window.vueConfig
    cfg.methods.getVcard = async function () {
      try {
        const args = _.fromPairs(_.map(['apiKey', 'spreadsheetId', 'range', 'key', 'value'], k => [k, this.paramBase64url(k)]))
        if (!_.isString(args.apiKey) || !args.apiKey) throw new Error(this.$t('googlesheet.invalidApiKey'))

        const sheetUrl = `https://sheets.googleapis.com/v4/spreadsheets/${args.spreadsheetId}/values/${encodeURIComponent(args.range)}`
        const rows = _.get(await axios.get(sheetUrl, { params: { key: args.apiKey } }), 'data.values', [])
        if (!_.isArray(rows) || !rows.length) throw new Error('空的試算表')

        const keyIdx = rows[0].indexOf(args.key)
        if (keyIdx < 0) throw new Error(this.$t('googlesheet.keyNotFound', { key: args.key }))
        this.vcard = _.zipObject(rows[0], _.find(rows.slice(1), row => row[keyIdx] === args.value))
      } catch (err) {
        err.message = `${this.$t('googlesheet.getVcardFail')}${err.message ? ': ' + err.message : ''}`
        this.render = null
        throw err
      }
    }
