extends /src/liff-full/share

block vue-config
  script.
    const cfg = window.vueConfig
    cfg.methods = {
      ...cfg.methods,
      async getVcard () {
        try {
          this.vcard = window.parseJsonOrDefault(this.paramGzip('json5gzip'), {})
          window.gtagTiming('after getVcard')
        } catch (err) {
          err.message = `${this.$t('csv.getVcardFail')}${err.message ? ': ' + err.message : ''}`
          this.render = null
          throw err
        }
      },
    }
