extends /layout/forms

block beforehtml
  -
    title = '動物森友會護照'
    description = '「集合吧！動物森友會」的護照'

block meta
  meta(property="og:image:height", content="640")
  meta(property="og:image:width", content="1280")
  meta(property="og:image", content="https://i.imgur.com/rGRMSdy.png")
  meta(property="og:url", content=baseurl+"forms/acnh-passport-1.html")

block form
  .form-group.was-validated.my-2
    label(for="vcard-avator") 大頭照
    input#vcard-avator.form-control.form-control-sm(type="url", inputmode="url", required, pattern="https://\\S+", v-model.trim="vcard.avator")
    small.form-text.text-muted 請填寫大頭照圖片網址，必須是 #[code https://] 開頭，比例為 #[code 1:1]，建議可將圖片#[a(target="_blank", href="https://hackmd.io/@docs/how_to_upload_image_tw") 上傳到 HackMD]。 #[a(href="https://docs.google.com/spreadsheets/d/13d_LAJPlxMa_DubPTuirkIV4DERBMXbrWQsmSh8ReK4/edit#gid=1696242249", target="_blank") 居民大頭貼請點此]
  .form-group.was-validated.my-2
    label(for="vcard-title") 頭銜
    input#vcard-title.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.title")
    small.form-text.text-muted 請填寫頭銜。
  .form-group.was-validated.my-2
    label(for="vcard-name") 名稱
    input#vcard-name.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.name")
    small.form-text.text-muted 請填寫角色名稱。
  .form-group.was-validated.my-2
    label(for="vcard-island") 島名
    input#vcard-island.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.island")
    small.form-text.text-muted 請填寫無人島名稱。
  .form-group.my-2
    label(for="vcard-fruit") 水果
    select#vcard-fruit.form-control.form-control-sm(v-model="vcard.fruit")
      option(value="Apple") 蘋果 Apple
      option(value="Cherry") 櫻桃 Cherry
      option(value="Orange") 橘子 Orange
      option(value="Peach") 桃子 Peach
      option(value="Pear") 梨子 Pear
    small.form-text.text-muted 請選擇無人島上的水果。
  .form-group.was-validated.my-2
    label(for="vcard-nso") NSO
    input#vcard-nso.form-control.form-control-sm(type="text", required, pattern="SW-\\d{4}-\\d{4}-\\d{4}", v-model="vcard.nso")
    small.form-text.text-muted 請填寫 NSO 的好友代碼。

block vue-config
  script.
    window.vueConfig.data.vcard = {
      avator: 'https://acnhcdn.com/latest/NpcIcon/cat18.png',
      fruit: 'Apple',
      island: '美麗島',
      name: '小美',
      nso: 'SW-0000-0000-0000',
      template: '#{baseurl}cards/acnh-passport-1.txt',
      title: '幸運的小女孩',
    }
