extends /layout/forms

block beforehtml
  -
    title = 'Facebook Post Link'
    description = '讓你在 LINE 中模擬 Facebook 分享連結，並且還可再次分享！'

block meta
  meta(property="og:image:height", content="640")
  meta(property="og:image:width", content="1280")
  meta(property="og:image", content="https://i.imgur.com/hO0LAHK.png")
  meta(property="og:url", content=baseurl+"forms/facebook-post-link-1.html")

block form
  .form-group.was-validated.my-2
    label(for="vcard-altText") 替代文字
    input#vcard-altText.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.altText")
    small.form-text.text-muted 請填寫在訊息無法顯示時（如：系統通知）的替代文字。
  .form-group.was-validated.my-2
    label(for="vcard-avatar") 大頭貼
    input#vcard-avatar.form-control.form-control-sm(type="url", inputmode="url", required, pattern="https://\\S+", v-model.trim="vcard.avatar")
    small.form-text.text-muted 請填寫大頭貼圖片網址，必須是 #[code https://] 開頭，長寬比為 #[code 1:1]。
  .form-group.was-validated.my-2
    label(for="vcard-author") 姓名
    input#vcard-author.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.author")
    small.form-text.text-muted 請填寫姓名。
  .form-group.was-validated.my-2
    label(for="vcard-website") 姓名區塊網址
    input#vcard-website.form-control.form-control-sm(type="url", inputmode="url", required, pattern="(https?://|line://|tel:|mailto:)\\S+", v-model.trim="vcard.website")
    small.form-text.text-muted 請填寫姓名區塊點擊後會打開的網址。
  .form-group.was-validated.my-2
    label(for="vcard-action") 姓名區塊動作
    input#vcard-action.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.action")
    small.form-text.text-muted 請填寫姓名區塊接在姓名後面的文字。
  .form-group.was-validated.my-2
    label(for="vcard-image") 預覽圖
    input#vcard-image.form-control.form-control-sm(type="url", inputmode="url", required, pattern="https://\\S+", v-model.trim="vcard.image")
    small.form-text.text-muted 請填寫連結的預覽圖，必須是 #[code https://] 開頭，建議可將圖片#[a(target="_blank", href="https://hackmd.io/@docs/how_to_upload_image_tw") 上傳到 HackMD]。
  .form-group.was-validated.my-2
    label(for="vcard-ratio") 預覽圖的長寬比
    input#vcard-ratio.form-control.form-control-sm(type="text", required, pattern="\\d+:\\d+", v-model="vcard.ratio")
    small.form-text.text-muted 請填寫連結預覽圖的長寬比。
  .form-group.was-validated.my-2
    label(for="vcard-link") 連結
    input#vcard-link.form-control.form-control-sm(type="url", inputmode="url", required, pattern="(https?://|line://|tel:|mailto:)\\S+", v-model.trim="vcard.link")
    small.form-text.text-muted 請填寫連結。你可以使用 #[a(target="_blank", href="https://ga-dev-tools.appspot.com/campaign-url-builder/") UTM Builder] 以及 #[code &amp;openExternalBrowser=1] 另開瀏覽器。
  .form-group.was-validated.my-2
    label(for="vcard-title") 連結標題
    input#vcard-title.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.title")
    small.form-text.text-muted 請填寫連結標題。
  .form-group.was-validated.my-2
    label(for="vcard-desc") 連結說明
    textarea#vcard-desc.form-control.form-control-sm(required, pattern=".+", v-model="vcard.desc")
    small.form-text.text-muted 請填寫連結說明。

block vue-config
  script.
    window.vueConfig.data.vcard = {
      action: '分享了 1 個連結。',
      altText: '王小明分享了 1 個連結。',
      author: '王小明',
      avatar: 'https://i.imgur.com/ceV22WT.png',
      desc: '從 CSV 讀取名片資料來產生名片',
      image: 'https://i.imgur.com/CU3myIc.png',
      link: 'https://taichunmin.idv.tw/liff-businesscard/forms/csv.html',
      ratio: '1280:640',
      template: '#{baseurl}cards/facebook-post-link-1.txt',
      title: '從 CSV 讀取名片資料來產生名片',
      website: 'https://taichunmin.idv.tw/',
    }
