extends /layout/forms

block beforehtml
  -
    title = '微程式資訊 LINE 名片'
    description = '微程式資訊的名片範例。'

block meta
  meta(property="og:image:height", content="640")
  meta(property="og:image:width", content="1280")
  meta(property="og:image", content="https://i.imgur.com/NXiylpJ.png")
  meta(property="og:url", content=baseurl + "forms/microprogram.html")

block form
  .form-group.my-2
    label(for="vcard-template") 名片樣版
    select#vcard-template.form-control.form-control-sm(v-model="vcard.template")
      option(value="https://gist.githubusercontent.com/taichunmin/4c3931a5ef5168b8ddab341c770b151e/raw/microprogram-default.txt") 台中-白色
      option(value="https://gist.githubusercontent.com/taichunmin/4c3931a5ef5168b8ddab341c770b151e/raw/microprogram-red-mobile.txt") 台中-紅色
      option(value="https://gist.githubusercontent.com/taichunmin/4c3931a5ef5168b8ddab341c770b151e/raw/microprogram-no-mobile.txt") 台中-白色-無手機
      option(value="https://gist.githubusercontent.com/taichunmin/4c3931a5ef5168b8ddab341c770b151e/raw/microprogram-red-no-mobile.txt") 台中-紅色-無手機
      option(value="https://gist.githubusercontent.com/taichunmin/4c3931a5ef5168b8ddab341c770b151e/raw/microprogram-white-chiayi.txt") 嘉義-白色
      option(value="https://gist.githubusercontent.com/taichunmin/4c3931a5ef5168b8ddab341c770b151e/raw/microprogram-red-chiayi.txt") 嘉義-白色
    small.form-text.text-muted 請選擇名片樣版。
  .row
    .col
      .form-group.was-validated.my-2
        label(for="vcard-title-tw") 中文職稱
        input#vcard-title-tw.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.title_tw")
        small.form-text.text-muted 請填寫中文職稱。
      .form-group.was-validated.my-2
        label(for="vcard-name-tw") 中文姓名
        input#vcard-name-tw.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.name_tw")
        small.form-text.text-muted 請填寫中文姓名。
      .form-group.was-validated.my-2
        label(for="vcard-mobile") 手機號碼
        input#vcard-mobile.form-control.form-control-sm(type="tel", inputmode="tel", required, pattern="[0-9,+-]+", v-model="vcard.mobile")
        small.form-text.text-muted 請填寫手機號碼。
    .col
      .form-group.was-validated.my-2
        label(for="vcard-title-en") 英文職稱
        input#vcard-title-en.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.title_en")
        small.form-text.text-muted 請填寫英文職稱。
      .form-group.was-validated.my-2
        label(for="vcard-name-en") 英文姓名
        input#vcard-name-en.form-control.form-control-sm(type="text", required, pattern=".+", v-model="vcard.name_en")
        small.form-text.text-muted 請填寫英文姓名。
      .form-group.was-validated.my-2
        label(for="vcard-ext") 分機號碼
        input#vcard-ext.form-control.form-control-sm(type="tel", inputmode="tel", required, pattern="\\d{3}", v-model="vcard.ext")
        small.form-text.text-muted 請填寫分機號碼。
  .form-group.was-validated.my-2
    label(for="vcard-email") 公司信箱
    input#vcard-email.form-control.form-control-sm(type="email", inputmode="email", required, pattern=".+", v-model="vcard.email")
    small.form-text.text-muted 請填寫公司信箱。

block vue-config
  script.
    window.vueConfig.data.vcard = {
      email: 'mei@program.com.tw',
      ext: '000',
      mobile: '0000000000',
      name_en: 'Mei Wang',
      name_tw: '王小美',
      template: 'https://gist.githubusercontent.com/taichunmin/4c3931a5ef5168b8ddab341c770b151e/raw/microprogram-default.txt',
      title_en: 'Marketing',
      title_tw: '行銷企劃',
    }
