if NODE_ENV !== 'production'
  script.
    (function () {
      const url = new URL(location)
      const livereload = new URL('https://cdn.jsdelivr.net/npm/livereload-js@3/dist/livereload.js?snipver=1')
      livereload.searchParams.set('host', url.hostname)
      if (url.protocol === 'https:') {
        livereload.searchParams.set('port', url.port || 443)
        livereload.searchParams.set('https', 1)
      } else {
        livereload.searchParams.set('port', url.port || 80)
      }
      document.write(`<script src="${livereload.href}"></` + 'script>')
    })()