extends /layout-default

block beforehtml
  - const title = '建立 LINE 數位版名片'

block style
  meta(property="fb:app_id", content="2133031763635285")
  meta(property="og:description", content="請點此建立 LINE 數位版名片，如果沒有想要的樣式，歡迎一起貢獻名片樣板。")
  meta(property="og:image:height", content="640")
  meta(property="og:image:width", content="1280")
  meta(property="og:image", content="https://i.imgur.com/j017Uof.png")
  meta(property="og:locale", content="zh_TW")
  meta(property="og:site_name", content="筆記國度")
  meta(property="og:title", content=title)
  meta(property="og:type", content="website")
  meta(property="og:url", content=baseUrl)
  style
    :sass
      [v-cloak]
        display: none
      #businesscards .card-body
        border-top: 1px solid rgba(0,0,0,.125)
block content
  include /compoment-navbar
  #app.container.my-4(v-cloak)
    h1.my-3.text-center 免費樣版列表
    #businesscards.row.row-cols-1.row-cols-md-2.row-cols-lg-3
      .col.mb-4(v-for="card in businesscards")
        .card
          img.card-img-top(:src="card.preview")
          .card-body
            h5.card-title {{ card.name }}
            h6.card-subtitle.mb-2.text-muted By {{ card.author }}
            p.card-text {{ card.description }}
            a.btn.btn-primary(:href='baseUrl + card.form') 點此建立名片

block script
  script.
    /* global getCsv */
    const vm = new Vue({ // eslint-disable-line
      el: '#app',
      data: {
        baseUrl: '#{baseUrl}',
        businesscards: [],
      },
      async mounted () {
        try {
          window.gtagScreenView('瀏覽免費樣板列表網頁')
          window.gtagTiming('mounted start')
          this.businesscards = await getCsv('businesscards.csv')
          window.gtagTiming('mounted end')
        } catch (err) {
          window.gtagError(err, true)
        }
      },
    })