extends /layout/default

block beforehtml
  -
    title = '分享 LINE 數位版名片'
    description = '請開啟本連結並按一下「分享好友」來分享給好友或群組。'

//- disable gtag
block compoment-gtag

block script
  script(crossorigin="anonymous", src="https://static.line-scdn.net/liff/edge/2/sdk.js")
  script.
    (async () => {
      await liff.init({ liffId: '#{liffidShare}' })
      if (window.getSearchParam('liff.state')) return
      localStorage.setItem('swalFire', JSON5.stringify({
        icon: 'warning',
        title: '請更換名片網址',
        text: '你之前使用的名片網址即將失效，請在本頁面複製新名片網址。',
      }))
      const url = `https://liff.line.me/#{liffidFull}/share.html${new URL(location).search}`
      if (liff.isInClient()) liff.openWindow({ url })
      else location.href = url
    })()
