nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand.mb-0.h1(href=baseurl) LINE 數位版名片
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#businesscard-navbar")
    span.navbar-toggler-icon
  #businesscard-navbar.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item: a.nav-link(href=baseurl) #[i.fa.fa-fw.fa-list] 免費樣版列表
      li.nav-item: a.nav-link(target="_blank", href="https://lihi1.com/CVjIx/navbar") #[i.fa.fa-fw.fa-comments-o] 技術討論群
      li.nav-item: a.nav-link(target="_blank", href="https://github.com/taichunmin/liff-businesscard/blob/master/README.md") #[i.fa.fa-fw.fa-book] 使用教學
      li.nav-item: a.nav-link(target="_blank", href="https://developers.line.biz/flex-simulator/") #[i.fa.fa-fw.fa-eye] Flex 訊息模擬器
      li.nav-item: a.nav-link(target="_blank", href="https://github.com/taichunmin/liff-businesscard/blob/master/CONTRIBUTING.md") #[i.fa.fa-fw.fa-id-card-o] 如何客製樣版
      li.nav-item: a.nav-link(target="_blank", href="https://github.com/taichunmin/liff-businesscard") #[i.fa.fa-fw.fa-github] 原始碼
